<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Welcome <%=docs[0].name%></title>
    <link rel="icon" href="/static/imgs/user-icon.png" type="image/x-icon" />
    <link rel="stylesheet" href="../static/css/userdashboard.css" />
    <link rel="stylesheet" href="../static/css/utils.css" />
  </head>
  <body>
    <header class="header">
      <nav>
        <div class="left">
          <img src="../static/imgs/logo.png" alt="Logo of IIIT BBSR" />
          <button class="btn left-div-btn">
            <a target="_self" href="/signup.html">Sign Up</a>
          </button>
          <button class="btn left-div-btn">
            <a target="_self" href="/login.html">Login</a>
          </button>
        </div>
        <a href="#" class="toggle-button">
          <span class="bar"></span>
          <span class="bar"></span>
          <span class="bar"></span>
        </a>
        <ul class="navbar">
          <li><a target="_self" href="./">Home</a></li>
          <li>
            <a target="_self" href="/timetable.html">TimeTable</a>
          </li>
          <li>
            <a target="_self" href="/noticeboard.html">Notice Board</a>
          </li>
          <li><a target="_self" href="/student.html">Students</a></li>
          <li><a target="_self" href="/to-do.html">To-Do</a></li>
          <li><a target="_self" href="/poll.html">Poll</a></li>
        </ul>
        <div class="right">
          <button class="btn">
            <a target="_self" href="/signup.html">Sign Up</a>
          </button>
          <button class="btn">
            <a target="_self" href="/login.html">Login</a>
          </button>
        </div>
      </nav>
    </header>
    <main>
    <div class="first-display">
      <div class="top">
        <img src="../static/imgs/student_info_resource/male_img.png" alt="" />
        <div class="info-container">
          <div class="user-info"><span class="heading"> Name </span><%=` :  `%>  <%= docs[0].name %></div>
          <div class="user-info"><span class="heading"> Age </span><%=` :  `%><%= docs[0].age %></div>
          <div class="user-info"><span class="heading"> Password </span><%=` :  `%><%= docs[0].password %></div>
          <div class="user-info"><span class="heading"> Roll No. </span><%=` :  `%><%= docs[0].roll_no %></div>
          <div class="user-info"><span class="heading"> Email </span><%=` :  `%><%= docs[0].email %></div>
        </div>
      </div>
      <div class="mid-container">
        <div class="left-container">
          <div class="info-container">
            <div class="user-info heading">Description:</div>
            <div class="user-info"><%= docs[0].description %></div>
          </div>
        </div>
        <div class="right-container">
          <div class="info-container">
            <div class="user-info heading">Skills</div>
            <% docs[0].skills.forEach((curr,i)=>{ %>
            <div class="user-info"><%=`${i+1}. ${curr}`%></div>
            <%});%>

            <div class="user-info heading">Achievements</div>
            <% docs[0].achievement.forEach((curr,i)=>{ %>
            <div class="user-info"><%=`${i+1}. ${curr}`%></div>
            <%});%>
            <button class="mybtn" id="edit-info-btn">Edit Info</button>
          </div><span>
        </div>
      </div>
    </div>
      <div class="second-display hidden">
        <span style="cursor: pointer; color: tan;"class="close">CLOSE</span>
        <div class="form-group">
          <h1 style="margin-bottom: 20px;">ENTER THE DETAILS YOU WANT TO EDIT</h1>
        <form class = "form" action="/editData" method="POST">
          
          <table>
            <tr >
              <td><label for="">SKILLS : </label></td>
              <td class = "skillInput"><input  class="info change" type="text" name="skills" /></td>
            </tr>
            <tr>
              <td><label for="">AGE : </label></td>
              <td><input  class="info change" type="number" name="age" /></td>
            </tr>
            <tr>
              <td><label  for="">ACHIEVEMENTS : </label></td>
              <td class = "achiInput"><input  class="info change" type="text" name="achievement" /></td>
            </tr>
            <tr>
              <td><label for="">DESCRIPTION : </label></td>
              <td><input  class="info change" type="text" name="description" /></td>
            </tr>
            <tr>
              <td><label for="">PASSWORD : </label></td>
              <td><input  class="info change" type="text" name="password" /></td>
            </tr>
          </table>
          <button style="margin-top:7px; margin-bottom: 7px ;" class="sty" id="show-details">
            EDIT DETAILS
          </button >
        </form>
        <button class="addSkill sty" style="margin-bottom: 17px; margin-right: 9px;">+ADD SKILL+</button>
        <button class="addAchi sty" style="margin-bottom: 17px;">+ADD ACHIEVEMENT+</button>
          <div class="currDet"></div>
        </div>
      </div>
    </main>

    <footer class="flex-all-center">
      <p>Copyright &copy; TechAttack.com | All Rights Reservered</p>
    </footer>
    <script src="./../../static/js/home.js"></script>
    <script src="./../../static/js/userdashboard.js"></script>
  </body>
</html>
